/*
* Uncomment the following line to use the Inter font when not working on a Next.js project.
* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* Then replace var(--font-inter) to Inter
*/

@import "tailwindcss";
@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-react-aria-components';

@theme {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  :root {
    --bg: #fff0dc; /* Off-White for clean backgrounds */
    --fg: #2c3e50; /* Deep Navy/Charcoal for text */

    --primary: #fff0dc; /* Rich Earth Brown for main elements */
    --primary-fg: #271908; /* White for text on primary */

    --secondary: #f0bb78; /* Warm Sand/Beige for secondary elements */
    --secondary-fg: #1f1508; /* Deep Navy/Charcoal for contrast */

    --overlay: #ffffff; /* White for overlays */
    --overlay-fg: #2c3e50; /* Deep Navy/Charcoal for overlay text */

    --accent: #543a14; /* Terracotta for emphasis and highlights */
    --accent-fg: #ffffff; /* White for text on accent */

    --muted: #ece8e1; /* Muted Beige for subtle backgrounds */
    --muted-fg: #7f4f24; /* Rich Earth Brown for muted text */

    --success: #4caf50; /* Classic green for success states */
    --success-fg: #ffffff; /* White text for success */

    --warning: #e5a52d; /* Warm Gold for warning messages */
    --warning-fg: #2c3e50; /* Deep Navy/Charcoal for contrast */

    --danger: #c0392b; /* Strong Red for error states */
    --danger-fg: #ffffff; /* White text for danger */

    --border: #b8a793; /* Muted Olive Brown for soft borders */
    --input: #d4bfaa; /* Beige for input backgrounds */
    --ring: #2c3e50; /* Deep Navy for focus rings */

    --navbar: #f5f5f5; /* Off-White for a light navbar */
    --navbar-fg: #2c3e50; /* Deep Navy for navbar text */

    --sidebar: #f5f5f5; /* Off-White for a clean sidebar */
    --sidebar-fg: #7f4f24; /* Earth Brown for sidebar text */

    --chart-1: var(--color-blue-600);
    --chart-2: var(--color-blue-400);
    --chart-3: var(--color-blue-300);
    --chart-4: var(--color-blue-200);
    --chart-5: var(--color-blue-100);

    --radius-lg: 0.5rem;
    --radius-xs: calc(var(--radius-lg) * 0.5);
    --radius-sm: calc(var(--radius-lg) * 0.75);
    --radius-md: calc(var(--radius-lg) * 0.9);
    --radius-xl: calc(var(--radius-lg) * 1.25);
    --radius-2xl: calc(var(--radius-lg) * 1.5);
    --radius-3xl: calc(var(--radius-lg) * 2);
    --radius-4xl: calc(var(--radius-lg) * 3);
  }

  .dark {
    --bg: var(--color-zinc-950);
    --fg: var(--color-zinc-50);

    --primary: var(--color-blue-600);
    --primary-fg: var(--color-white);

    --secondary: oklch(0.244 0.006 286.033);
    --secondary-fg: var(--color-zinc-50);

    --accent: var(--color-blue-600);
    --accent-fg: var(--color-white);

    --muted: var(--color-zinc-900);
    --muted-fg: var(--color-zinc-400);

    --overlay: oklch(0.17 0.006 285.885);
    --overlay-fg: var(--color-zinc-50);

    --success: var(--color-emerald-600);
    --success-fg: var(--color-white);

    --warning: var(--color-amber-400);
    --warning-fg: var(--color-amber-950);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-50);

    --border: oklch(0.27 0.013 285.805);
    --input: oklch(0.29 0.013 285.805);
    --ring: var(--color-blue-600);

    --navbar: oklch(0.17 0.006 285.885);
    --navbar-fg: var(--color-zinc-50);

    --sidebar: oklch(0.16 0.006 285.885);
    --sidebar-fg: var(--color-zinc-50);

    --chart-1: var(--color-blue-700);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-400);
    --chart-4: var(--color-blue-300);
    --chart-5: var(--color-blue-200);
  }
}

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    text-rendering: optimizeLegibility;
  }

  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--fg);
  }

  body::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.custom-shape-divider-bottom-1742382136 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1742382136 svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 121px;
}

.custom-shape-divider-bottom-1742382136 .shape-fill {
  fill: #fff0dc;
}

.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-popup {
  background: none;
}

.mapbox-loader {
  cursor: pointer;
  scale: 0.5;
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}

.mapbox-loader::after {
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid red;
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}

.mapbox-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }

  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.pointer {
  animation: pointer-animation 1s ease-in-out infinite alternate;
}

@keyframes pointer-animation {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-40px);
  }
}

.custom-shape-divider-bottom-1742855471 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1742855471 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 84px;
}

.custom-shape-divider-bottom-1742855471 .shape-fill {
  fill: #fff0dc;
}
